.table th {
    color: #000000;
    /* Couleur noire intense */
    font-weight: bold;
    /* Optionnel : Rend le texte plus épais */
}

.table td {
    color: #828282;
    /* Couleur noire intense */
    font-weight: bold;
    /* Optionnel : Rend le texte plus épais */
}

.perso tr{
    cursor: pointer;
}

/* Style pour le conteneur du bouton "Ajouter" */
.form-group.col-lg.d-flex.align-items-end {
    align-self: flex-start; /* Aligner le bouton en haut du conteneur */
    margin-top: 29px;
}


/* Style pour les titres et les paragraphes */
h4 {
    color: #333;
}

.code {
    display: flex;
    gap: 4px;/* Espace entre les cercles */
}

.circle {
    width: 20px;
    height: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 24px;
}

.resolu{
    background-color: #7ED321;
    font-size: 12px;
}

.a_traiter{
    background-color: #FFAA16;
    font-size: 12px;
}

.retard{
    background-color: #FF1616;
    font-size: 12px;
}

.id-cell {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.photo {
    height: 250px;
    position: relative;
    overflow: hidden; /* Assure que l'image ne dépasse pas le div */
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Assure que l'image couvre tout le div sans déformation */
    position: absolute;
    top: 0;
    left: 0;
}

.highlight {
    background-color: #c7eecf; /* Couleur vert clair */
}

tr {
    cursor: pointer;
    transition: background-color 0.5s ease; /* Transition douce pour le changement de couleur */
}