/* Utilisez une police monospace pour tout le contenu du PDF */
#pdf {
    font-family: 'Courier New', Courier, monospace;
}

/* Style pour le logo */
.img-fluid {
    max-width: 50%;
    height: auto;
    margin-left: -56%;
}

/* Style pour les titres et les paragraphes */
h4 {
    color: #333;
}

/* Style pour la table */
.table {
    margin-top: 20px;
    font-size: 1em;
}

.table th, .table td {
    padding: 10px;
    text-align: left;
}

.table thead th {
    background-color: #f7f7f7;
    border-color: #ddd;
}

.table-bordered {
    border: 1px solid #ddd;
}

.table tbody tr td {
    color: black;
}

.table-responsive td {
    word-wrap: break-word; /* Permet au texte de passer à la ligne */
    white-space: normal;   /* Permet les retours à la ligne */
    max-width: 200px;      /* Limite la largeur de la cellule */
}

.table tr {
    page-break-inside: avoid;
}

