.img-fluid {
    max-width: 50%;
    height: auto;
    /* margin-left: -56%; */
}

.img-loi {
    max-width: 50%;
    height: auto;
    margin-left: -56%;
}

td{
    color : black;
}


.id-cell {
    white-space: nowrap; /* Empêche le texte de passer à la ligne */
}

.th-cell {
    width: auto;
}

.faible{
    background-color: #c7eecf;
}

.moyenne{
    background-color: #feec9a;
}

.elevee{
    background-color: #ffc8cb;
}