.fini-text-color {
    color: #25d366 !important;
}

.fini-back-ground-color {
    background-color: #25d366 !important;
    border: none;
}

.retard-back-ground-color{
    background-color: rgb(202, 40, 40)  !important;
    border: none;
}

.a-venir-back-ground-color {
    background-color: #b3b3b3 !important;
    border: none;
}



.a-venir-color {
    color: rgb(210, 210, 210) !important;
}

.fc-daygrid-event,
.fc-timegrid-event {
    color: inherit !important;
    text-decoration: none !important;
}

.fc-daygrid-event:hover,
.fc-daygrid-event:focus,
.fc-timegrid-event:hover,
.fc-timegrid-event:focus {
    color: inherit !important;
}

.titre {
    font-size: 25px;
    letter-spacing: 0px;
}

.fc-day-other .fc-daygrid-event {
    display: none !important;
}

.cin-content {
    display: flex;
    align-items: center;
    margin-left: 17%;
}

.cin-content img {
    width: 118px;
    height: 147px;
    object-fit: cover;
    margin-right: 15px;
}

.cin-details {
    display: flex;
    flex-direction: column;
}

.cin-details h2 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #333;
}

.cin-details p {
    margin: 4px 0;
    font-size: 14px;
    color: #555;
}

.stat-widget-one .stat-icon i {
    font-size: 30px;
    border-width: 1px;
    border-style: solid;
    border-radius: 100px;
    padding: 15px;
    font-weight: 900;
    display: inline-block;
}

.ppm {
    background-color: #377aa1;
}

.achevement {
    background-color: #a1cbee;
}

.retard {
    background-color: #e0eef8;
}

.temps {
    background-color: #f6e4e6;
}

.abs {
    background-color: #ddb8cb;
}

.text-success,
.ppm-color {
    color: #e0eef8 !important;
}

.border-success {
    border-color: #e0eef8 !important;
}

.text-achevement,
.achevement-color {
    color: #377aa1 !important;
}

.border-achevement {
    border-color: #377aa1 !important;
}

.text-retard,
.retard-color {
    color: #377aa1 !important;
}

.border-retard {
    border-color: #377aa1 !important;
}

.text-temps,
.temps-color {
    color: #ae91a0 !important;
}

.border-temps {
    border-color: #ae91a0 !important;
}

.text-abs,
.abs-color {
    color: #f6e4e6 !important;
}

.border-abs {
    border-color: #f6e4e6 !important;
}
