.table th {
    color: #000000;
    /* Couleur noire intense */
    font-weight: bold;
    /* Optionnel : Rend le texte plus épais */
}

.table td {
    color: #828282;
    /* Couleur noire intense */
    font-weight: bold;
    /* Optionnel : Rend le texte plus épais */

}

tr{
    cursor: pointer;
}